<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MySql.BinDirectory" value="C:\Program Files\MySQL\MySQL Server 5.1\bin\" />
    <add key="MySql.RootPassword" value="" />
    <add key="MySql.DefaultSchema" value="openehs_database" />
    <add key="Backup.Directory" value="C:\OpenEhsBackup" />
  </appSettings>
</configuration>