@{
    ViewBag.Title = "Reports";
}
@section head
{
    <link href="@Url.Content("~/Content/help.css")" rel="Stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {
            $("#reports-tab").addClass("current");
            $("#links li:odd").addClass("striped");
        });
    </script>
}

<h2>Reports</h2>
<br />
<fieldset id="linksContainer">
    <ul id="links">
        <li>@Html.ActionLink("User Report", "UserReport")</li>
        <li>@Html.ActionLink("Location Report", "LocationReport")</li>
    </ul>
</fieldset>
