@{
    ViewBag.Title = "Billing Details";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h1>Billing Details</h1>
<br />
<p>Billing Details is reached through the @Html.ActionLink("Billing Search", "BillingSearch") interface.</p>
<p>After finding the correct invoice, click the Details link for that invoice.</p>
<br />
<h2>
1. The basic sections of the Billing Details are listed in this picture.<br />
<img src="/images/BillingDetails1.PNG" alt="Billing Details image 1" width="98%" />
<br />
<br />
<br />
2. To make a payment click the 'Pay' button.<br />
<img src="/images/BillingDetails2.PNG" alt="Billing Details image 2" width="98%" />
<br />
<br />
<br />
2a. This displays the 'Add Payment' Dialog.<br />
<img src="/images/BillingDetails3.PNG" alt="Billing Details image 3" />
<br />
<br />
<br />
2b. Type in an amount that is not more than the remaining balance.<br />
<img src="/images/BillingDetails4.PNG" alt="Billing Details image 4" width="98%" />
<br />
<br />
<br />
2c. Click the 'Add Payment' button.<br />
<img src="/images/BillingDetails5.PNG" alt="Billing Details image 5" />
<br />
<br />
<br />
3. The new payment is listed in the 'Payments' section of the invoice and<br />
the 'Balance' and 'Total Paid' sections are updated.<br />
<img src="/images/BillingDetails6.PNG" alt="Billing Details image 6" width="98%" />
</h2>
<br />
<br />
@Html.ActionLink("Back to Help", "Index")