@{
    ViewBag.Title = "Billing Search";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h1>Billing Search</h1>
<br />
<p>
1. Click on the 'Billing' button<br />
2. You will be shown a 'Recently Accessed List' of billing records<br />
3. At the top of the page there is a field for performing searches on billing records<br />
4. Enter text into the search field to search for a specific patient record. Search for a patient to see their associated billing invoices.<br />
5. After a minimum of 3 characters have been entered into the search field any results matching the entered characters will be returned in a dropdown below the
search field. For example, type in 'Hans' and you will be presented with a dropdown showing results of any person that has 'Hans' in their first, middle or last name.
As more characters are entered into the search field the results that are returned will be filtered. See below for a list of search criteria options.<br />
6. When the desired result is found in the dropdown you can arrow down with the keyboard or select the desired record with the mouse pointer<br />
7. The selected patient's billing invoices will be shown in a result set<br />
</p>
<br />
<br />
<h3>Search Criteria Options</h3>
<br />
<p>
When searching for a patient you are able to enter any of the criteria items below:<br />
<br />
- First name<br />
- Middle name<br />
- Last name<br />
- Phone number<br />
- Date of Birth<br />
- Record number<br />
- Old physical record number<br />
</p>
<br />
@Html.ActionLink("Back to Help", "Index")