@{
    ViewBag.Title = "Patient Resources";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h1>Patient Resources</h1>
<br />
<p>Patient Resources is where products and services are recorded on a patient's invoice.</p>
<p>In order to record resources on an invoice, the patient must be checked in.</p>
<br />
<h2>
1. From the patient's information, click on the 'Resources' tab on the left side.<br />
<img src="/images/PatientResources1.PNG" alt="Patient Resources image 1" width="98%" />
<br />
<br />
<br />
2. Adding a Product.<br />
2a. In the 'Add New Product' box select the dropdown arrow for 'Select Product'.<br />
2b. Select one of the products from the list.<br />
<img src="/images/PatientResources2a.PNG" alt="Patient Resources image 2a" width="98%" />
<br />
<br />
<br />
2c. In the 'Add a Product' box select the dropdown arrow for 'Select Quantity'.<br />
2d. Select the quantity from the list.<br />
<img src="/images/PatientResources2c.PNG" alt="Patient Resources image 2c" width="98%" />
<br />
<br />
<br />
2e. Click the 'Add New Product' button.<br />
<img src="/images/PatientResources2e.PNG" alt="Patient Resources image 2e" width="98%" />
<br />
<br />
<br />
<br />
3. Adding a Service.<br />
3a. In the 'Add New Service' box select the dropdown arrow for 'Select Service'.<br />
3b. Select one of the services from the list.<br />
<img src="/images/PatientResources3a.PNG" alt="Patient Resources image 3a" width="98%" />
<br />
<br />
<br />
3c. Click the 'Add New Service' button.<br />
<img src="/images/PatientResources3c.PNG" alt="Patient Resources image 3c" width="98%" />
<br />
<br />
<br />
<br />
4. The items currently on the invoice are listed in the 'Current Line Items' box.<br />
<img src="/images/PatientResources4.PNG" alt="Patient Resources image 4" width="98%" />
<br />
<br />
<br />
</h2>
<br />
<br />
@Html.ActionLink("Back to Help", "Index")