@{
    ViewBag.Title = "Patient Creation";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h1>Patient Creation</h1>
<br />
<p>Patient Creation is used to add all new patients.</p>
<br />
<h2>
1. From the Patients page, click on the 'New Patient' button.<br />
<img src="../../images/createpatient1.png" alt="Patient Creation image 1" width="98%" />
<br />
<br />
<br />
2a. Adding a New Patient.<br />
Click the mouse in each box and type in the information beginning with the patient name.<br />
<img src="../../images/createpatient2.png"  alt="Patient Creation image 2 " width="98%" />
<br />
<br />
<br />
2b. Click the small blue arrow to select from the dropdown lists.<br />
2c. Click next to continue the New Patient Creation form.<br />
<img src="../../images/createpatient3.png" alt="Patient Creation image 3 " width="98%" />
<br />
<br />
<br />
2d. Fields such as patient 'first name', 'last name' and address are required.<br />
The form will display required fields in red that are not filled in.<br />
<img src="../../images/createpatient4.png"  alt="Patient Creation image 4 " width="98%" />
<br />
<br />
<br />
<br />
3. Adding emergency contact.<br />
Fill in the name and address information for the patient emergency contact.<br />
Then click 'Submit' to create the new patient.
<img src="../../images/createpatient5.png"   alt="Patient Creation image 5 " width="98%" />
<br />
<br />
<br />
4. The patient has now been created.<br />
4a. You can go to the bar code print page or the patient details page<br />
by clicking the appropriate button.
<img src="../../images/createpatient6.png" alt="Patient Creation image 6 " width="98%" />
<br />
<br />
<br />
<br />
</h2>
<br />
<br />
@Html.ActionLink("Back to Help", "Index")

