@*Author: Dahln Farnes*@
@{
    ViewBag.Title = "Dymo Printer Setup";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h2>Setting up the Dymo Label Printer</h2>

<p>
The Dymo Printer must be installed on any computer that is going to be printing bar code labels.  The suggested configuration is to setup on the printer on one computer and then share that printer, across the network, with other computers that need to print.
<br/>
<br/>
The following instructions will guide the user in setting up the printer.
<br/>
<br/>
Required software packages include: DLS8Setup.8.2.3.1026-BETA.exe
<br/>
<br/>
1. Do not plug the printer in until instructed!<br />
2. Run the setup program titled: DLS8Setup.8.2.3.1026-BETA.  You must have this software installed and it must be atleast version 8.2.3.1026.  <br />
3. Follow the instructions in the setup program. <br />
4. The last step will tell you to plug in the Dymo printer. Plug in the printer now.<br />
5. Restart the computer.<br />
6. Once the computer is restarted, the printer should work with OpenEHS.<br />

<br/>
The printer is now ready for use in OpenEHS.  OpenEHS will automatically detect and use the most appropriate Dymo Label Printer that is available on the system.
</p>
<br />
@Html.ActionLink("Back to Help", "Index")
