@*Author: Dahln Farnes*@
@{
    ViewBag.Title = "Print Bar Code for Existing Patient";
}
@Html.ActionLink("Back to Help", "Index")
<br />
<br />
<h2>Print Bar Code for Existing Patient</h2>

<p>
Bar codes can be printed for an existing patient.  This is useful if a replacement bar code needs to be printed.  
<br/>
<br/>
The following instructions will guide the user creating a bar code for an existing patient.
<br />
<br />
1. Open the patient information<br />
2. Goto the Demographics section<br />
3. Click on the button titled "Print Barcode<br />
4. The bar code will print to the Dymo Label Printer<br />
</p>
<br />
@Html.ActionLink("Back to Help", "Index")